/* 個別キャラ設定 */
.magicalgirl input[value="七海やちよ(七夕ver)"]{
    background: url(../img/webp/七海やちよ\(七夕ver\).webp); background-size: 60px 60px; }
.magicalgirl input[value="桐野紗枝"]{
    background: url(../img/webp/桐野紗枝.webp); background-size: 60px 60px; }
.magicalgirl input[value="このは・葉月"]{
    background: url(../img/webp/このは・葉月.webp); background-size: 60px 60px; }
.magicalgirl input[value="愛生まばゆ"]{
    background: url(../img/webp/愛生まばゆ.webp); background-size: 60px 60px; }
.magicalgirl input[value="究極まどか先輩"]{
    background: url(../img/webp/究極まどか先輩.webp); background-size: 60px 60px; }
.magicalgirl input[value="アイ"]{
    background: url(../img/webp/アイ.webp); background-size: 60px 60px; }
.magicalgirl input[value="入名クシュ"]{
    background: url(../img/webp/入名クシュ.webp); background-size: 60px 60px; }
.magicalgirl input[value="ウワサのさな"]{
    background: url(../img/webp/ウワサのさな.webp); background-size: 60px 60px; }
.magicalgirl input[value="日向華々莉"]{
    background: url(../img/webp/日向華々莉.webp); background-size: 60px 60px; }
.magicalgirl input[value="美琴椿"]{
    background: url(../img/webp/美琴椿.webp); background-size: 60px 60px; }
.magicalgirl input[value="神楽燦"]{
    background: url(../img/webp/神楽燦.webp); background-size: 60px 60px; }
.magicalgirl input[value="遊狩ミユリ"]{
    background: url(../img/webp/遊狩ミユリ.webp); background-size: 60px 60px; }
.magicalgirl input[value="大庭樹里"]{
    background: url(../img/webp/大庭樹里.webp); background-size: 60px 60px; }
.magicalgirl input[value="いろは・うい(巫女ver)"]{
    background: url(../img/webp/いろは・うい\(巫女ver\).webp); background-size: 60px 60px; }
.magicalgirl input[value="灯花・ねむ(聖夜ver)"]{
    background: url(../img/webp/灯花・ねむ\(聖夜ver\).webp); background-size: 60px 60px; }
.magicalgirl input[value="鶴乃・フェリシア(宅配ver)"]{
    background: url(../img/webp/鶴乃・フェリシア\(宅配ver\).webp); background-size: 60px 60px; }
.magicalgirl input[value="十咎ももこ(シスターver)"]{
background: url(../img/webp/十咎ももこ\(シスターver\).webp); background-size: 60px 60px; }
.magicalgirl input[value="和泉十七夜(ヴァンパイアver)"]{
background: url(../img/webp/和泉十七夜\(ヴァンパイアver\).webp); background-size: 60px 60px; }
.magicalgirl input[value="イザボー(魔女ver)"]{
background: url(../img/webp/イザボー\(魔女ver\).webp); background-size: 60px 60px; }
.magicalgirl input[value="やちよ・みふゆ(始まりver)"]{
background: url(../img/webp/やちよ・みふゆ\(始まりver\).webp); background-size: 60px 60px; }
.magicalgirl input[value="三輪みつね"]{
background: url(../img/webp/三輪みつね.webp); background-size: 60px 60px; }
.magicalgirl input[value="飾利潤"]{
background: url(../img/webp/飾利潤.webp); background-size: 60px 60px; }
.magicalgirl input[value="栗栖アレクサンドラ"]{
background: url(../img/webp/栗栖アレクサンドラ.webp); background-size: 60px 60px; }
.magicalgirl input[value="万年桜のウワサ(水着ver)"]{
background: url(../img/webp/万年桜のウワサ\(水着ver\).webp); background-size: 60px 60px; }
.magicalgirl input[value="巴マミ(水着ver)"]{
background: url(../img/webp/巴マミ\(水着ver\).webp); background-size: 60px 60px; }
.magicalgirl input[value="レナ・かえで(水着ver)"]{
background: url(../img/webp/レナ・かえで\(水着ver\).webp); background-size: 60px 60px; }
.magicalgirl input[value="八雲みかげ"]{
background: url(../img/webp/八雲みかげ.webp); background-size: 60px 60px; }
.magicalgirl input[value="里見那由他"]{
background: url(../img/webp/里見那由他.webp); background-size: 60px 60px; }
.magicalgirl input[value="ペレネル"]{
background: url(../img/webp/ペレネル.webp); background-size: 60px 60px; }
.magicalgirl input[value="タルト(ver.Final)"]{
background: url(../img/webp/タルト\(ver.Final\).webp); background-size: 60px 60px; }
.magicalgirl input[value="有愛うらら"]{
background: url(../img/webp/有愛うらら.webp); background-size: 60px 60px; }
.magicalgirl input[value="藍家ひめな"]{
background: url(../img/webp/藍家ひめな.webp); background-size: 60px 60px; }
.magicalgirl input[value="青葉ちか"]{
background: url(../img/webp/青葉ちか.webp); background-size: 60px 60px; }
.magicalgirl input[value="水名の先輩"]{
background: url(../img/webp/水名の先輩.webp); background-size: 60px 60px; }
.magicalgirl input[value="水樹塁"]{
background: url(../img/webp/水樹塁.webp); background-size: 60px 60px; }
.magicalgirl input[value="三浦旭"]{
background: url(../img/webp/三浦旭.webp); background-size: 60px 60px; }
.magicalgirl input[value="レナちゃん(アイドルver)"]{
background: url(../img/webp/レナちゃん\(アイドルver\).webp); background-size: 60px 60px; }
.magicalgirl input[value="アシュリー・テイラー"]{
background: url(../img/webp/アシュリー・テイラー.webp); background-size: 60px 60px; }
.magicalgirl input[value="枇々木めぐる"]{
background: url(../img/webp/枇々木めぐる.webp); background-size: 60px 60px; }
.magicalgirl input[value="百江なぎさ(バレンタインver)"]{
background: url(../img/webp/百江なぎさ\(バレンタインver\).webp); background-size: 60px 60px; }
.magicalgirl input[value="由貴真里愛"]{
background: url(../img/webp/由貴真里愛.webp); background-size: 60px 60px; }
.magicalgirl input[value="恵萌花"]{
background: url(../img/webp/恵萌花.webp); background-size: 60px 60px; }
.magicalgirl input[value="若菜つむぎ"]{
background: url(../img/webp/若菜つむぎ.webp); background-size: 60px 60px; }
.magicalgirl input[value="篠目ヨヅル"]{
background: url(../img/webp/篠目ヨヅル.webp); background-size: 60px 60px; }
.magicalgirl input[value="佐和月出里"]{
background: url(../img/webp/佐和月出里.webp); background-size: 60px 60px; }
.magicalgirl input[value="黒江"]{
background: url(../img/webp/黒江.webp); background-size: 60px 60px; }
.magicalgirl input[value="美樹さやか(晴着ver)"]{
background: url(../img/webp/美樹さやか\(晴着ver\).webp); background-size: 60px 60px; }
.magicalgirl input[value="梨花・れん(クリスマスver)"]{
background: url(../img/webp/梨花・れん\(クリスマスver\).webp); background-size: 60px 60px; }
.magicalgirl input[value="安積はぐむ"]{
background: url(../img/webp/安積はぐむ.webp); background-size: 60px 60px; }
.magicalgirl input[value="宮尾時雨"]{
background: url(../img/webp/宮尾時雨.webp); background-size: 60px 60px; }
.magicalgirl input[value="三穂野せいら"]{
background: url(../img/webp/三穂野せいら.webp); background-size: 60px 60px; }
.magicalgirl input[value="古町みくら"]{
background: url(../img/webp/古町みくら.webp); background-size: 60px 60px; }
.magicalgirl input[value="吉良てまり"]{
background: url(../img/webp/吉良てまり.webp); background-size: 60px 60px; }
.magicalgirl input[value="南津涼子"]{
background: url(../img/webp/南津涼子.webp); background-size: 60px 60px; }
.magicalgirl input[value="夏希の兄"]{
background: url(../img/webp/夏希の兄.webp); background-size: 60px 60px; }
.magicalgirl input[value="おネェさま"]{
background: url(../img/webp/おネェさま.webp); background-size: 60px 60px; }
.magicalgirl input[value="伊津見尹縫"]{
background: url(../img/webp/伊津見尹縫.webp); background-size: 60px 60px; }
.magicalgirl input[value="ユゥ"]{
background: url(../img/webp/ユゥ.webp); background-size: 60px 60px; }
.magicalgirl input[value="ピンクのキュゥべえ"]{
background: url(../img/webp/ピンクのキュゥべえ.webp); background-size: 60px 60px; }
.magicalgirl input[value="日向茉莉"]{
background: url(../img/webp/日向茉莉.webp); background-size: 60px 60px; }
.magicalgirl input[value="氷室ラビ"]{
background: url(../img/webp/氷室ラビ.webp); background-size: 60px 60px; }
.magicalgirl input[value="リヴィア・メディロス"]{
background: url(../img/webp/リヴィア・メディロス.webp); background-size: 60px 60px; }
.magicalgirl input[value="奏遥香"]{
background: url(../img/webp/奏遥香.webp); background-size: 60px 60px; }
.magicalgirl input[value="佐鳥かごめ"]{
background: url(../img/webp/佐鳥かごめ.webp); background-size: 60px 60px; }
.magicalgirl input[value="ラピヌ"]{
background: url(../img/webp/ラピヌ.webp); background-size: 60px 60px; }
.magicalgirl input[value="ミヌゥ"]{
background: url(../img/webp/ミヌゥ.webp); background-size: 60px 60px; }
.magicalgirl input[value="煌里ひかる"]{
background: url(../img/webp/煌里ひかる.webp); background-size: 60px 60px; }
.magicalgirl input[value="大庭樹里"]{
background: url(../img/webp/大庭樹里.webp); background-size: 60px 60px; }
.magicalgirl input[value="智珠らんか"]{
background: url(../img/webp/智珠らんか.webp); background-size: 60px 60px; }
.magicalgirl input[value="笠音アオ"]{
background: url(../img/webp/笠音アオ.webp); background-size: 60px 60px; }
.magicalgirl input[value="紅晴結菜"]{
background: url(../img/webp/紅晴結菜.webp); background-size: 60px 60px; }
.magicalgirl input[value="鈴鹿さくや"]{
background: url(../img/webp/鈴鹿さくや.webp); background-size: 60px 60px; }
.magicalgirl input[value="香春ゆうな"]{
background: url(../img/webp/香春ゆうな.webp); background-size: 60px 60px; }
.magicalgirl input[value="柚希ほとり"]{
background: url(../img/webp/柚希ほとり.webp); background-size: 60px 60px; }
.magicalgirl input[value="柚希りおん"]{
background: url(../img/webp/柚希りおん.webp); background-size: 60px 60px; }
.magicalgirl input[value="時女静香"]{
background: url(../img/webp/時女静香.webp); background-size: 60px 60px; }
.magicalgirl input[value="土岐すなお"]{
background: url(../img/webp/土岐すなお.webp); background-size: 60px 60px; }
.magicalgirl input[value="静香の母"]{
background: url(../img/webp/静香の母.webp); background-size: 60px 60px; }
.magicalgirl input[value="ちはるの母"]{
background: url(../img/webp/ちはるの母.webp); background-size: 60px 60px; }
.magicalgirl input[value="七瀬ゆきか"]{
background: url(../img/webp/七瀬ゆきか.webp); background-size: 60px 60px; }
.magicalgirl input[value="いろは・やちよ(決戦ver)"]{
background: url(../img/webp/いろは・やちよ\(決戦ver\).webp); background-size: 60px 60px; }
.magicalgirl input[value="広江ちはる"]{
background: url(../img/webp/広江ちはる.webp); background-size: 60px 60px; }
.magicalgirl input[value="佐倉杏子(水着ver)"]{
background: url(../img/webp/佐倉杏子\(水着ver\).webp); background-size: 60px 60px; }
.magicalgirl input[value="コルボー"]{
background: url(../img/webp/コルボー.webp); background-size: 60px 60px; }
.magicalgirl input[value="エリザ"]{
background: url(../img/webp/エリザ.webp); background-size: 60px 60px; }
.magicalgirl input[value="ウワサさん"]{
background: url(../img/webp/ウワサさん.webp); background-size: 60px 60px; }
.magicalgirl input[value="天音姉妹(水着ver)"]{
background: url(../img/webp/天音姉妹\(水着ver\).webp); background-size: 60px 60px; }
.magicalgirl input[value="フェイト・T・ハラオウン"]{
background: url(../img/webp/フェイト・T・ハラオウン.webp); background-size: 60px 60px; }
.magicalgirl input[value="高町なのは"]{
background: url(../img/webp/高町なのは.webp); background-size: 60px 60px; }
.magicalgirl input[value="八神はやて"]{
background: url(../img/webp/八神はやて.webp); background-size: 60px 60px; }
.magicalgirl input[value="梓みふゆ"]{
background: url(../img/webp/梓みふゆ.webp); background-size: 60px 60px; }
.magicalgirl input[value="牧カオル"]{
background: url(../img/webp/牧カオル.webp); background-size: 60px 60px; }
.magicalgirl input[value="環うい"]{
background: url(../img/webp/環うい.webp); background-size: 60px 60px; }
.magicalgirl input[value="千秋理子"]{
background: url(../img/webp/千秋理子.webp); background-size: 60px 60px; }
.magicalgirl input[value="フェリシアちゃん"]{
background: url(../img/webp/フェリシアちゃん.webp); background-size: 60px 60px; }
.magicalgirl input[value="更紗帆奈"]{
background: url(../img/webp/更紗帆奈.webp); background-size: 60px 60px; }
.magicalgirl input[value="万年桜のウワサ"]{
background: url(../img/webp/万年桜のウワサ.webp); background-size: 60px 60px; }
.magicalgirl input[value="忍野忍"]{
background: url(../img/webp/忍野忍.webp); background-size: 60px 60px; }
.magicalgirl input[value="相野みと"]{
background: url(../img/webp/相野みと.webp); background-size: 60px 60px; }
.magicalgirl input[value="羽川翼"]{
background: url(../img/webp/羽川翼.webp); background-size: 60px 60px; }
.magicalgirl input[value="江利あいみ"]{
background: url(../img/webp/江利あいみ.webp); background-size: 60px 60px; }
.magicalgirl input[value="牧野郁美"]{
background: url(../img/webp/牧野郁美.webp); background-size: 60px 60px; }
.magicalgirl input[value="ホーリーアリナ"]{
background: url(../img/webp/ホーリーアリナ.webp); background-size: 60px 60px; }
.magicalgirl input[value="観鳥令"]{
background: url(../img/webp/観鳥令.webp); background-size: 60px 60px; }
.magicalgirl input[value="まどか先輩"]{
background: url(../img/webp/まどか先輩.webp); background-size: 60px 60px; }
.magicalgirl input[value="神原駿河"]{
background: url(../img/webp/神原駿河.webp); background-size: 60px 60px; }
.magicalgirl input[value="戦場ヶ原ひたぎ"]{
background: url(../img/webp/戦場ヶ原ひたぎ.webp); background-size: 60px 60px; }
.magicalgirl input[value="柊ねむ"]{
background: url(../img/webp/柊ねむ.webp); background-size: 60px 60px; }
.magicalgirl input[value="いろはちゃん"]{
background: url(../img/webp/いろはちゃん.webp); background-size: 60px 60px; }
.magicalgirl input[value="里見灯花"]{
background: url(../img/webp/里見灯花.webp); background-size: 60px 60px; }
.magicalgirl input[value="和泉十七夜"]{
background: url(../img/webp/和泉十七夜.webp); background-size: 60px 60px; }
.magicalgirl input[value="秋野かえで"]{
background: url(../img/webp/秋野かえで.webp); background-size: 60px 60px; }
.magicalgirl input[value="三栗あやめ"]{
background: url(../img/webp/三栗あやめ.webp); background-size: 60px 60px; }
.magicalgirl input[value="呉キリカ"]{
background: url(../img/webp/呉キリカ.webp); background-size: 60px 60px; }
.magicalgirl input[value="十咎ももこ"]{
background: url(../img/webp/十咎ももこ.webp); background-size: 60px 60px; }
.magicalgirl input[value="雪野かなえ"]{
background: url(../img/webp/雪野かなえ.webp); background-size: 60px 60px; }
.magicalgirl input[value="水波レナ"]{
background: url(../img/webp/水波レナ.webp); background-size: 60px 60px; }
.magicalgirl input[value="御園かりん"]{
background: url(../img/webp/御園かりん.webp); background-size: 60px 60px; }
.magicalgirl input[value="美凪ささら"]{
background: url(../img/webp/美凪ささら.webp); background-size: 60px 60px; }
.magicalgirl input[value="アルティメットまどか"]{
background: url(../img/webp/アルティメットまどか.webp); background-size: 60px 60px; }
.magicalgirl input[value="胡桃まなか"]{
background: url(../img/webp/胡桃まなか.webp); background-size: 60px 60px; }
.magicalgirl input[value="佐倉杏子"]{
background: url(../img/webp/佐倉杏子.webp); background-size: 60px 60px; }
.magicalgirl input[value="暁美ほむら(水着ver)"]{
background: url(../img/webp/暁美ほむら\(水着ver\).webp); background-size: 60px 60px; }
.magicalgirl input[value="梢麻友"]{
background: url(../img/webp/梢麻友.webp); background-size: 60px 60px; }
.magicalgirl input[value="ウワサの鶴乃"]{
background: url(../img/webp/ウワサの鶴乃.webp); background-size: 60px 60px; }
.magicalgirl input[value="七海やちよ"]{
background: url(../img/webp/七海やちよ.webp); background-size: 60px 60px; }
.magicalgirl input[value="志伸あきら"]{
background: url(../img/webp/志伸あきら.webp); background-size: 60px 60px; }
.magicalgirl input[value="都ひなの"]{
background: url(../img/webp/都ひなの.webp); background-size: 60px 60px; }
.magicalgirl input[value="木崎衣美里"]{
background: url(../img/webp/木崎衣美里.webp); background-size: 60px 60px; }
.magicalgirl input[value="深月フェリシア"]{
background: url(../img/webp/深月フェリシア.webp); background-size: 60px 60px; }
.magicalgirl input[value="綾野梨花"]{
background: url(../img/webp/綾野梨花.webp); background-size: 60px 60px; }
.magicalgirl input[value="竜城明日香"]{
background: url(../img/webp/竜城明日香.webp); background-size: 60px 60px; }
.magicalgirl input[value="静海このは"]{
background: url(../img/webp/静海このは.webp); background-size: 60px 60px; }
.magicalgirl input[value="美国織莉子"]{
background: url(../img/webp/美国織莉子.webp); background-size: 60px 60px; }
.magicalgirl input[value="八九寺真宵"]{
background: url(../img/webp/八九寺真宵.webp); background-size: 60px 60px; }
.magicalgirl input[value="鹿目まどか(晴着ver)"]{
background: url(../img/webp/鹿目まどか\(晴着ver\).webp); background-size: 60px 60px; }
.magicalgirl input[value="御崎海香"]{
background: url(../img/webp/御崎海香.webp); background-size: 60px 60px; }
.magicalgirl input[value="粟根こころ"]{
background: url(../img/webp/粟根こころ.webp); background-size: 60px 60px; }
.magicalgirl input[value="タルト"]{
background: url(../img/webp/タルト.webp); background-size: 60px 60px; }
.magicalgirl input[value="暁美ほむら(眼鏡ver)"]{
background: url(../img/webp/暁美ほむら\(眼鏡ver\).webp); background-size: 60px 60px; }
.magicalgirl input[value="純美雨"]{
background: url(../img/webp/純美雨.webp); background-size: 60px 60px; }
.magicalgirl input[value="千歳ゆま"]{
background: url(../img/webp/千歳ゆま.webp); background-size: 60px 60px; }
.magicalgirl input[value="加賀見まさら"]{
background: url(../img/webp/加賀見まさら.webp); background-size: 60px 60px; }
.magicalgirl input[value="天乃鈴音"]{
background: url(../img/webp/天乃鈴音.webp); background-size: 60px 60px; }
.magicalgirl input[value="鹿目まどか"]{
background: url(../img/webp/鹿目まどか.webp); background-size: 60px 60px; }
.magicalgirl input[value="春名このみ"]{
background: url(../img/webp/春名このみ.webp); background-size: 60px 60px; }
.magicalgirl input[value="毬子あやか"]{
background: url(../img/webp/毬子あやか.webp); background-size: 60px 60px; }
.magicalgirl input[value="天音月夜"]{
background: url(../img/webp/天音月夜.webp); background-size: 60px 60px; }
.magicalgirl input[value="保澄雫"]{
background: url(../img/webp/保澄雫.webp); background-size: 60px 60px; }
.magicalgirl input[value="ホーリーマミ"]{
background: url(../img/webp/ホーリーマミ.webp); background-size: 60px 60px; }
.magicalgirl input[value="リズ"]{
background: url(../img/webp/リズ.webp); background-size: 60px 60px; }
.magicalgirl input[value="空穂夏希"]{
background: url(../img/webp/空穂夏希.webp); background-size: 60px 60px; }
.magicalgirl input[value="百江なぎさ"]{
background: url(../img/webp/百江なぎさ.webp); background-size: 60px 60px; }
.magicalgirl input[value="常盤ななか"]{
background: url(../img/webp/常盤ななか.webp); background-size: 60px 60px; }
.magicalgirl input[value="阿見莉愛"]{
background: url(../img/webp/阿見莉愛.webp); background-size: 60px 60px; }
.magicalgirl input[value="メリッサ"]{
background: url(../img/webp/メリッサ.webp); background-size: 60px 60px; }
.magicalgirl input[value="伊吹れいら"]{
background: url(../img/webp/伊吹れいら.webp); background-size: 60px 60px; }
.magicalgirl input[value="由比鶴乃"]{
background: url(../img/webp/由比鶴乃.webp); background-size: 60px 60px; }
.magicalgirl input[value="八雲みたま"]{
background: url(../img/webp/八雲みたま.webp); background-size: 60px 60px; }
.magicalgirl input[value="暁美ほむら"]{
background: url(../img/webp/暁美ほむら.webp); background-size: 60px 60px; }
.magicalgirl input[value="環いろは"]{
background: url(../img/webp/環いろは.webp); background-size: 60px 60px; }
.magicalgirl input[value="五十鈴れん"]{
background: url(../img/webp/五十鈴れん.webp); background-size: 60px 60px; }
.magicalgirl input[value="美樹さやか"]{
background: url(../img/webp/美樹さやか.webp); background-size: 60px 60px; }
.magicalgirl input[value="矢宵かのこ"]{
background: url(../img/webp/矢宵かのこ.webp); background-size: 60px 60px; }
.magicalgirl input[value="安名メル"]{
background: url(../img/webp/安名メル.webp); background-size: 60px 60px; }
.magicalgirl input[value="眞尾ひみか"]{
background: url(../img/webp/眞尾ひみか.webp); background-size: 60px 60px; }
.magicalgirl input[value="環いろは(水着ver)"]{
background: url(../img/webp/環いろは\(水着ver\).webp); background-size: 60px 60px; }
.magicalgirl input[value="夏目かこ"]{
background: url(../img/webp/夏目かこ.webp); background-size: 60px 60px; }
.magicalgirl input[value="二葉さな"]{
background: url(../img/webp/二葉さな.webp); background-size: 60px 60px; }
.magicalgirl input[value="詩音千里"]{
background: url(../img/webp/詩音千里.webp); background-size: 60px 60px; }
.magicalgirl input[value="アリナ・グレイ"]{
background: url(../img/webp/アリナ・グレイ.webp); background-size: 60px 60px; }
.magicalgirl input[value="桑水せいか"]{
background: url(../img/webp/桑水せいか.webp); background-size: 60px 60px; }
.magicalgirl input[value="天音月咲"]{
background: url(../img/webp/天音月咲.webp); background-size: 60px 60px; }
.magicalgirl input[value="黒"]{
background: url(../img/webp/黒.webp); background-size: 60px 60px; }
.magicalgirl input[value="かずみ"]{
background: url(../img/webp/かずみ.webp); background-size: 60px 60px; }
.magicalgirl input[value="八雲みたま(晴着ver)"]{
background: url(../img/webp/八雲みたま\(晴着ver\).webp); background-size: 60px 60px; }
.magicalgirl input[value="遊佐葉月"]{
background: url(../img/webp/遊佐葉月.webp); background-size: 60px 60px; }
.magicalgirl input[value="巴マミ"]{
background: url(../img/webp/巴マミ.webp); background-size: 60px 60px; }
.magicalgirl input[value="千石撫子"]{
background: url(../img/webp/千石撫子.webp); background-size: 60px 60px; }
.magicalgirl input[value="成見亜里紗"]{
background: url(../img/webp/成見亜里紗.webp); background-size: 60px 60px; }
.magicalgirl input[value="史乃沙優希"]{
background: url(../img/webp/史乃沙優希.webp); background-size: 60px 60px; }
.magicalgirl input[value="キュゥべえ"]{
background: url(../img/webp/キュゥべえ.webp); background-size: 60px 60px; }
.magicalgirl input[value="小さなキュゥべえ"]{
background: url(../img/webp/小さなキュゥべえ.webp); background-size: 60px 60px; }
.magicalgirl input[value="タケさん"]{
background: url(../img/webp/タケさん.webp); background-size: 60px 60px; }
