/banner/*
/img/webp/*.webp
!/img/webp/AND.webp
!/img/webp/EXCLUSIVE.webp
!/img/webp/OR.webp
!/img/webp/ONLY.webp
!/img/webp/loading.webp
/img/png/*.png
!/img/png/AND.png
!/img/png/EXCLUSIVE.png
!/img/png/OR.png
!/img/png/ONLY.png
/myfile/callTableダウンロード
